/* Reset CSS
 * --------------------------------------- */
 body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
 form,fieldset,input,textarea,p,blockquote,th,td {
     padding: 0;
     margin: 0;
 }
 a{
     text-decoration:none;
 }
 table {
     border-spacing: 0;
 }
 fieldset,img {
     border: 0;
 }
 address,caption,cite,code,dfn,em,strong,th,var {
     font-weight: normal;
     font-style: normal;
 }
 strong{
     font-weight: bold;
 }
 ol,ul {
     list-style: none;
     margin:0;
     padding:0;
 }
 caption,th {
     text-align: left;
 
 }
 h1,h2,h3,h4,h5,h6 {
     font-weight: normal;
     font-size: 100%;
     margin:0;
     padding:0;
     color:#f2f2f2;
 }
 q:before,q:after {
     content:'';
 }
 abbr,acronym { border: 0;
 }
 
 /* Custom CSS
  * --------------------------------------- */
 body, *{
     font-family: 'Roboto';
     color: #f2f2f2;
 }
 h1{
     font-size: 12em;
 }
 p{
     font-size: 6em;
 }
 .section{
     text-align: center;
 }

 .intro p{
     width: 50%;
     margin: 0 auto;
     font-size: 1.5em;
     font-weight: 600;
 }
 
 /* Overwriting fullPage.js tooltip color
 * --------------------------------------- */
 #pp-nav.custom .pp-tooltip{
     color: #AAA;
 }

/* Section 1
    * --------------------------------------- */
    #section1::before {
        content: "";
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background-image: url("https://images.wallpaperscraft.com/image/flight_balloon_sky_86980_1920x1080.jpg");
        filter:grayscale(75%);
    }
    .module-inside {        
        position: relative;
    }
     #section1 h1{
		color: #fff;
	}
	#section1 p{
		color: #fff;
    }
    
    #section1 .intro {
        border:1px solid #333;
        border-radius: 25px;
        background-color:rgba(0, 0, 0, 0.5);
        width: 50%;
        margin:0 auto 0 auto;
        padding: 20px;
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }

	/* Section 2
	 * --------------------------------------- */
	#section2 h1,
	#section2 p{
		z-index: 3;
	}
	#section2 p{
		opacity: 1;
	}

	/* Section 3
	 * --------------------------------------- */
	#section3 p{
		color: #000;
	}
	/* Section 4
	 * --------------------------------------- */
	#section4 p{
		opacity: 1;
	}

	/* Overwriting fullPage.js tooltip color
	* --------------------------------------- */
	#pp-nav.custom .pp-tooltip{
		color: #AAA;
	}
	#markup{
		display: block;
		width: 450px;
		margin: 20px auto;
		text-align: left;
    }  
    nav#corner_toggle {
        -webkit-transition: all 0.25s ease-in-out;
        -moz-transition: all 0.25s ease-in-out;
        -ms-transition: all 0.25s ease-in-out;
        -o-transition: all 0.25s ease-in-out;
        transition: all 0.25s ease-in-out;
        z-index: 1000;
        position: fixed;
        background-color: #2E282A;
        height: 500px;
        width: 2000px;
        top: -325px;
      }
      nav#corner_toggle.top-left {
        left: -1075px;
        transform: rotate(-45deg);
      }
      nav#corner_toggle.top-right {
        right: -1075px;
        transform: rotate(45deg);
      }
      #corner_toggle_container {
        width: 100%;
        height: 100%;
      }
      #corner_toggle_container .gravatar {
        margin: 0 auto;
        text-align: center;
        position: fixed;
        bottom: 35%;
        width: 100%;
      }
      #corner_toggle_container .gravatar img {
        margin: 0 auto;
        text-align: center;
        border: 1px solid #FAD8D6;
        max-height: 100px;
      }
      #corner_toggle_container .links {
        margin: 0 auto;
        margin-left: -20px;
        text-align: right;
        position: fixed;
        bottom:125px;
        left: 44%;
        width: 250px;
        transform: rotate(-45deg);
      }
      #corner_toggle_container .links ul {
        position: relative;
        top:15px;
        left:10px;
      }
      #corner_toggle_container .links ul li {
        margin-top: 15px;        
      }
      #corner_toggle_container .links ul li a {
        padding: 0 10px;
        font-size: 1.5em;
        color: rgba(255,255,255,0.5);
      }
      #corner_toggle_container .links a:hover {
        color: #CD5334;
        text-decoration: none;
      }
      .corner_toggle_ctrl {
        margin: 0 auto;
        text-align: center;
        position: fixed;
        width: 100%;
        color: #CD5334;
        font-size: 30px;
      }
      .corner_toggle_ctrl:hover {
        color: #CD5334;
      }
      .corner_toggle_ctrl.top {
        bottom: 0;
        padding-bottom: 10px;
      }
      .corner_toggle_ctrl i {
        cursor: pointer;
      }      
      /* Custom fixes */
    #pp-nav{
        margin: 0 auto !important;
        left:calc(50% - calc(14px * 4));
        right: 0;
        top: auto !important;
        bottom: 17px;
        display: inline-block;
    }
    #pp-nav li, .pp-slidesNav li{
        display:inline-block;
    }

    #socials {
        min-height: 200px;
        width: 55px;
        position: fixed;
        top:calc(50% - calc(55px * 3));
        left:10px;
        z-index: 201;
    }
    #socials ul li {
        margin-bottom:10px;
        width: 55px;
        height: 55px;
    }

    #socials ul li span {
        width: 0px;
        height: 0px;
        opacity: 0;
        position: relative;
        left: 65px;
        top: -50px;
        transition: opacity 0.15s linear;
    }
    #socials ul li:hover span {
        opacity: 1;
        transition: opacity 0.15s linear;
        cursor: pointer;
    }

    #socials ion-icon {
        font-size: 64px;
        color: #2E282A;
      }


      #myimg {       
        cursor: pointer;
        border-radius: 50%;
      }

      .btn {
        transition: .5s;
        border-radius: 50%;       
        transform: rotate(-45deg);  
      }
      .btn .hl-line {          
        stroke: #fff;
        fill: #201c29;
        stroke-dasharray: 240 480;
        stroke-dashoffset: 240;
        transition: stroke 1.5s ease-in-out;
      }
      .btn:hover .bg-line {
        fill: #4F95DA;
      }
      .btn:hover .hl-line {
        stroke-dashoffset: -480;
        fill: #1a1721;
      }

      #btn.active2 {
          position: relative;         
          transition: all .5s ease-in-out;
          transform: rotate(-45deg) translate(-25px, -110px);
      }
